.home {
  position: relative;
  background-image: url('../pics/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Ensure text is readable on the background */
  text-shadow: 1px 1px 2px black; /* Add text shadow for better readability */
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay for better contrast */
  z-index: 1;
}

.welcome {
  position: relative;
  padding: 20px;
  z-index: 2; /* Ensure it appears above the overlay */
  text-align: center;
}

.welcome h1 {
  z-index: 2; /* Ensure it appears above the overlay */
  color: inherit; /* Use the inherited color */
  margin-bottom: 10px;
  font-size: 2.5rem; /* Increased font size */
}

.welcome h2 {
  z-index: 2; /* Ensure it appears above the overlay */
  color: inherit; /* Use the inherited color */
  margin-bottom: 20px;
  font-size: 2rem; /* Subheading font size */
}

.welcome p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.buttons {
  z-index: 2; /* Ensure it appears above the overlay */
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons Button {
  margin: 10px;
}

.office {
  position: absolute;
  bottom: 8rem; /* Adjust the bottom value to place it just above the copyright */
  min-width: 1rem;
  z-index: 2; /* Ensure it appears above the overlay */
  text-align: center;
}

.office h4 {
  margin: 5px 0;
}

.email-link {
  color: #FFD700; /* Gold color for better visibility */
  text-decoration: none;
}

.email-link:hover {
  color: #FFA500; /* Orange color on hover */
  text-decoration: underline;
}